* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #00796B, #00BFA5);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
    border-radius: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #00796B, #00BFA5);
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left {
    font-size: 1.5rem;
    color: #FFFAF0;
    font-weight: 600;
}

.nav-right {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-right li a {
    text-decoration: none;
    color: #FFFAF0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-right li a:hover {
    color: #00796B;
}

.nav-right li:last-child a {
    background: #FFFAF0;
    color: #004c43;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    transition: background 0.3s, color 0.3s;
}

.nav-right li:last-child a:hover {
    background: #004c43;
    color: #fffaf0;
}

/* LOGIN BOX */
.login-container {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: auto;   /* center vertically */
}

.login-container h2 {
  margin-bottom: 10px;
  color: #00796B;
  font-weight: 600;
}

.subtitle {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.login-form button {
  padding: 12px;
  background: #00796B;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: #00695C;
}

.register-link {
  font-size: 0.9rem;
  margin-top: 10px;
}

.register-link a {
  color: #00796B;
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}
